body {
	background: black;
	font-size: 16px;
	font-family: Serif;
	color: white;
	padding-left: 2%;
	padding-right: 2%;
}

#dropzone_area {
	width: 5%;
	height: 1%;
	max-width: 10%;
	max-height: 10%;	
}

#dropzonePreview{	
	padding: 20px;
	margin-left: 20%;
	margin-right: 20%;
}

#uploadDropzone {		
  	width: 2%;
	height: 2%;
	max-width: 2%;
	max-height: 2%;	
  	padding: 2px;	
}

#process_files {
	margin-left: 20%;
	margin-right: 20%;
	padding: 5%;
	background-color: #666699;
	min-width: 925px;
	max-width: 925px;
}

.header {
	font-size: 25px;
	color: gray;	
}

.dz-details {		
	float: left;	
	padding: 10px;	
}

.dz-error-message{
	position: absolute;
	text-align: center;
	font-size: 25px;	
	right: 40%;
	bottom: 0;
}

#navigation {	
	font-size: 20px;
	padding-bottom: 1%;
	padding-top: 2%;
	margin-left: 45%;
}

#bottomNav{
	padding-top: 6%;
	padding-left: 40%;
}

#queue_file_info{	
	margin-bottom: 4%;
	background-color: #E0E0EB;	
	min-width: 900px;
	max-width: 900px;
}

.queued_file{	
	padding-bottom: 1%;	
}

.queue_thumbnail{
	float: left;
	margin-left: 3%;
	margin-top: 2%;
	padding-right: 5%;	
}

.caption_box{
	height: 100px;
}

#sub_tag_text{
	position: relative;
    color: black;
    left: 5px;
    top: -30px;    
}

#event_tag_text{
	color: black;
	position: relative;		
}

#manage_menu{
	margin-left: 20%;
	margin-top: 2%;
	margin-right: 20%;
}

.proccesingText{
	position: absolute;
	color: black;
	font-size: 40px;
	margin-top: -200px;
	margin-left: 450px;
}

.required_mark {
	color: red;
	font-size: 15px;
}

.ui-menu {	
	float: left;	
}

.ui-tabs {
	min-width: 700px;
	margin-left: 20%;
	margin-right: 20%;
	overflow: hidden;
}

.long_event_tag{
	width: 200px;
}

#image_picture_menu {
	float: left;
}

a.silent_link:link {text-decoration: none; color:white;}
a.silent_link:visited {text-decoration: none; color:white;}
a.silent_link:hover {text-decoration: none; color:white;}
a.silent_link:active {text-decoration: none; color:white;}