/*Universal/All Pages*/
body {
	background: black;
	font-size: 16px;
	font-family: Serif;
	color: white;
	padding-left: 2%;
	padding-right: 2%;
}

.header {
	font-size: 25px;
	color: gray;	
}

#navigation {	
	font-size: 20px;
	padding-bottom: 1%;
	padding-top: 2%;
	margin-left: 45%;
}

a.silent_link:link {text-decoration: none; color:white;}
a.silent_link:visited {text-decoration: none; color:white;}
a.silent_link:hover {text-decoration: none; color:white;}
a.silent_link:active {text-decoration: none; color:white;}

/*Upload Page*/
#dropzone_area {
	width: 5%;
	height: 1%;
	max-width: 10%;
	max-height: 10%;	
}

#dropzonePreview{	
	padding: 20px;
	margin-left: 20%;
	margin-right: 20%;
}

#uploadDropzone {		
  	width: 2%;
	height: 2%;
	max-width: 2%;
	max-height: 2%;	
  	padding: 2px;	
}

.dz-details {		
	float: left;	
	padding: 10px;	
}

.dz-error-message{
	position: absolute;
	text-align: center;
	font-size: 25px;	
	right: 40%;
	bottom: 0;
}

/*Process Page*/
#process_files {
	margin-left: 20%;
	margin-right: 20%;
	padding: 5%;
	background-color: #666699;
	min-width: 1050px;	
}

#bottomNav{
	padding-top: 6%;
	padding-left: 40%;
}

#queue_file_info{	
	margin-bottom: 4%;
	background-color: #E0E0EB;	
	min-width: 1000px;
	max-width: 1200px;
}

.queued_file{	
	padding-bottom: 1%;	
}

.queue_thumbnail{
	float: left;
	margin-left: 3%;
	margin-top: 2%;
	padding-right: 5%;	
}

.caption_box{
	height: 100px;
}

#sub_tag_text{
	position: relative;
    color: black;
    left: 5px;
    top: -30px;    
}

#event_tag_text{
	color: black;
	position: relative;		
}

.processingText{
	position: absolute;
	color: black;
	font-size: 40px;
	margin-top: -200px;
	margin-left: 450px;
}

.required_mark {
	color: red;
	font-size: 15px;
}

/*Manage Page*/
#manage_menu{
	margin-left: 20%;
	margin-top: 2%;
	margin-right: 20%;
}

#manage_tabs {
	min-width: 700px;
	margin-left: 15%;
	margin-right: 15%;
	min-height: 450px;
	overflow: hidden;
}

.long_event_tag{
	width: 200px;
}

#image_picture_menu {
	float: left;
}

#spread_out_table {
	border-collapse: separate;
	border-spacing: 3px;
}

.log_table_headers {
	text-align: center;
	color: black;
	background-color: #78787B;
	font-weight: bold;
}

.log_table_cells {
	color: black;
	background-color: #B3B3BC;	
}

#image_tag_menu, #tags_menu, #tags_selection, #upcoming_menu{
	float: left;
}

#blogs_menu {
	width: 180px;
	float: left;
}

.form_input {
	margin-left: 20px;
}

#title, #date_added, #author {
	width: 340px;
}

#upcoming_menu {
	width: 190px;
}