body {	
	background: #CACAD3;
	font-size: 16px;
	font-family: "Times New Roman", Times, serif; 
	color: black;
}

ul {
	list-style-type: none;
}

#container {
	margin-left: 20%;
}


#tag_preview{		
	width: 720px;
	height: 550px;
	margin-top: 10%;	
	background-color: #CACAD3;
}

#tag_nav {
	position: absolute;
	margin-left: 750px;
	margin-top: -520px;
	width: 250px;
	height: 400px;	
	font-size: 50px;	
}