html {
	min-height: 100%;
}

body {	
	background: -webkit-linear-gradient(150deg, #CCCCCC, #171717); /* For Safari */
	background: -o-linear-gradient(150deg,#CCCCCC, #171717); /* For Opera 11.1 to 12.0 */
	background: -moz-linear-gradient(150deg,#CCCCCC,#171717); /* For Firefox 3.6 to 15 */
	background: linear-gradient(150deg,#CCCCCC, #171717); /* Standard syntax */

	height: 100%;
	font-size: 16px;
	font-family: "Times New Roman", Times, serif;
	color: black;
}

ul {
	list-style-type: none;
}

a:link {text-decoration: none; color:black;}
a:visited {text-decoration: none; color:black;}
a:hover {text-decoration: none; color:white;}
a:active {text-decoration: none; color:black;}

.thumbs:hover { border-color: white; }
.thumbs:link { border-color: black; }

#site_title {
	margin-top: 10px;
	margin-bottom: 10px;
	position: relative;
	font-size: 80px;
	text-align: center;
	width: 735px;
}

#container {		
	margin-left: 30%;
	margin-right: 30%;
	min-height: 100%;
}

#tag_preview{	
	width: 720px;
	height: 550px;	
}

#alert{	
	position: relative;
	margin-top: -20px;
	margin-bottom: 20px;
	width: 720px;
}

#tag_nav {
	font-size: 25px;	
	width: 725px;	
	text-align: center;
}

.tag {
	margin-right: 40px;
}

#image_previews {	
	width: 800px;	
	margin-left: 10%;
	overflow: hidden;
	float: left;	
}

#image_nav {
	font-size: 40px;
	margin-top: 10px;		
	width: auto;				
}

.nav_image {	
	position: relative;
	display: inline-block;
	padding: 15px;
}

.ui-tooltip {
	background: black;	
}


@media screen and (max-width: 400px) {
	#tag_preview{	
		width: 320px;
		height: 244px;
		
	}

	#site_title {		
		margin-bottom: 10px;
		position: relative;
		font-size: 40px;
		text-align: left;		
	}

	#tag_nav {
		font-size: 25px;
		margin-left: -20%;
		border-collapse: collapse;
		width: auto;			
	}

	.tag {
		margin-right: 10px;
	}
}


@media screen and (max-width: 1024px) {
	#container {
		margin-left: 0%;
		margin-right: 0%;
		min-height: 100%;	
	}
}

@media screen and (max-device-width: 480px) {
	#container {
		margin-left: 10%;
		margin-right: 0%;
		min-height: 100%;	
	}

}
