#container {			
	margin-left: 22%;
	margin-right: 25%;
	min-height: 100%;
}

#site_title { 			
	width: 800px;
	margin-left: 100px;
	text-align: center;	
}
#image_nav {						
	font-size: 25px;
	margin-left: 100px;
	width: 804px;
	-moz-box-shadow:    inset 0 0 10px #000000;
	-webkit-box-shadow: inset 0 0 10px #000000;
	box-shadow:         inset 0 0 10px #000000;							
}
#alert {			
	margin-left: 100px;			
	width: 804px;
}	

#date {
	color: #CCCCCC;
	font-size: 24px;
	text-align: center;
	width: 804px;
	height: 30px;		
	-moz-box-shadow:    inset 0 0 10px #000000;
   	-webkit-box-shadow: inset 0 0 10px #000000;
   	box-shadow:         inset 0 0 10px #000000;
}

#alert_text {
	border-style: solid;
	border-width: 5px;
	padding: 6px;		
}

.ui-dialog-title {				
	text-align: center;				
}


.arrow {				
	position: absolute;
					
	font-size: 100px;
	opacity: 0.4;			
}			
.arrow:link { text-decoration: none; color: gray; }
.arrow:visited { text-decoration: none; color: gray; }
.arrow:hover { text-decoration: none; color: #0078a3; opacity: 1; }
.arrow:active { text-decoration: none; color: gray; }

#left{
	margin-left: 10px;
}

#instructions {	
	text-align: center;
}

#image_caption {
	font-size: 15px;
	font-weight: bold;
	text-align: center;
}

@media screen and (min-width: 320px) and (max-width: 360px) {			
	#image_previews {	
		width: 300px;		
		margin-left: 0px;
		margin-right: 0px;
		margin-bottom: 0px;	
	}

	#container {
		width: 300px;		
		margin-left: auto;
		margin-right: auto;				
	}
		
	#site_title {
		width: 304px;
		margin-left: 0px;					
		text-align: center;	
	}
	#image_nav {
		margin-left: 0px;				
		font-size: 15px;		
		width: 304px;								
	}

	.thumbnail_picture {
		/*
		width: 50px;
		height: 41.6px; */
		width: 75px;
		height: 62.2px;
		border: 5px solid;
	}
	.thumbnail_name {
		display: none;
	}
	.nav_image {
		padding: 5px;
	}

	#alert {			
		width: 304px;		
		margin-left: 0px;		
	}	

	#date {
		width: 304px;
		font-size: 20px;				
	}

	#alert_text {
		border-style: solid;
		border-width: 5px;
		padding: 6px;		
	}
}

@media screen and (min-width: 361px) and (max-width: 599px) {			
	#image_previews {	
		width: 300px;		
		margin-left: 0px;
		margin-right: 0px;
		margin-bottom: 0px;	
	}

	#container {
		width: 300px;		
		margin-left: auto;
		margin-right: auto;				
	}

	#site_title {
		width: 304px;
		margin-left: 0px;					
		text-align: center;	
	}
	#image_nav {
		margin-left: 0px;				
		font-size: 15px;		
		width: 304px;								
	}

	.thumbnail_picture {
		/*
		width: 50px;
		height: 41.6px; */
		width: 75px;
		height: 62.2px;
		border: 5px solid;
	}
	.thumbnail_name {
		display: none;
	}
	.nav_image {
		padding: 5px;
	}

	#alert {			
		width: 304px;		
		margin-left: 0px;		
	}	

	#date {
		width: 304px;
		font-size: 20px;				
	}

	#alert_text {
		border-style: solid;
		border-width: 5px;
		padding: 6px;		
	}
}

@media screen and (min-width: 600px) and (max-width: 819px) {			
	#image_previews {	
		width: 590px;		
		margin-left: 0px;
		margin-right: 0px;
		margin-bottom: 0px;	
	}

	#container {
		width: 590px;		
		margin-left: auto;
		margin-right: auto;		
	}

	#site_title {
		width: 594px;
		margin-left: 0px;					
		text-align: center;	
	}
	#image_nav {
		margin-left: 0px;				
		font-size: 25px;		
		width: 594px;								
	}

	.thumbnail_picture {				
		border: 5px solid;
	}

	#alert {			
		width: 594px;
		margin-left: 0px;			
	}	

	#date {
		width: 594px;
		font-size: 25px;				
	}

	#alert_text {
		border-style: solid;
		border-width: 5px;
		padding: 6px;		
	}
}

@media screen and (min-width: 820px) {			
	#image_previews {	
		width: 800px;		
		margin-left: 0px;
		margin-right: 0px;
		margin-bottom: 0px;
	}

	#container {
		width: 800px;		
		margin-left: auto;
		margin-right: auto;		
	}

	#site_title {
		width: 804px;
		margin-left: 0px;					
		text-align: center;	
	}
	#image_nav {				
		font-size: 25px;		
		width: 804px;
		margin: auto;							
	}

	.thumbnail_picture {
		border: 5px solid;
	}	
	.nav_image {
		padding: 15px;
	}

	#alert {			
		width: 804px;		
		margin-left: 0px;		
	}	

	#date {
		width: 804px;
		font-size: 25px;				
	}

	#alert_text {
		border-style: solid;
		border-width: 5px;
		padding: 6px;		
	}
}


/* Mobile styling */
@media screen and (min-width: 480px) and (max-device-width: 480px) {
	#image_previews {	
		width: 720px;	
		margin-left: 0px;
		margin-right: 0px;
		margin-bottom: 0px;	
	}

	#container {
		width: 720px;		
		margin-left: auto;
		margin-right: auto;				
	}

	#site_title {
		width: 724px;
		margin-left: 0px;					
		text-align: center;	
	}
	#image_nav {
		margin-left: 0px;				
		font-size: 15px;		
		width: 724px;						
	}

	.thumbnail_picture {		
		width: 150px;
		height: 125px;
		border: 5px solid;
	}
	.thumbnail_name {
		display: none;
	}
	.nav_image {
		padding: 5px;
	}

	#alert {			
		width: 724px;		
		margin-left: 0px;		
	}	

	#date {
		width: 724px;
		font-size: 20px;				
	}

	#alert_text {
		border-style: solid;
		border-width: 5px;
		padding: 6px;		
	}
}