/* Responsive styling */
@media screen and (min-width: 320px) and (max-width: 400px) {
	#container {	
		margin: auto;
		width: 320px;
		min-height: 100%;
	}

	#tag_preview{			
		max-width: 320px;
		max-height: 224px;
		min-width: 320px;
		min-height: 224px;	
	}

	.tag_preview_image {
		min-height: 224px; 
		max-height: 224px;		
		min-width: 320px;
		max-width: 320px;
	}

	#site_title {
		width: 320px;	
		margin-bottom: 10px;
		position: relative;
		font-size: 40px;
		text-align: center;
	}

	#tag_nav {
		font-size: 20px;		
		width: 330px;
		max-width: 340px;
	}

	#alert {		
		width: 330px;
		max-width: 330px;
	}
	#date {
		width: 330px;
		max-width: 330px;
	}
	
	.tag {
		margin-right: 5px;
	}

	#sidebar{
		display: none;
	}
}

@media screen and (min-width: 401px) and (max-width: 599px) {
	#container {	
		margin: auto;
		width: 401px;
		min-height: 100%;
	}

	#tag_preview{	
		min-width: 401px;
		min-height: 260px;
		max-width: 401px;
		max-height: 260px;
	}

	.tag_preview_image {
		min-width: 401px;
		max-width: 401px;
		min-height: 260px; 
		max-height: 260px;			
	}

	#site_title {				
		width: 401px;
		margin-bottom: 10px;
		position: relative;
		font-size: 40px;
		text-align: center;	
	}

	#tag_nav {
		font-size: 25px;				
		width: 411px;		
	}

	#alert {		
		width: 411px;
		max-width: 411px;
	}

	#date {
		width: 411px;
		max-width: 411px;;
	}

	.tag {
		margin-right: 10px;
	}

	#sidebar{
		display: none;
	}
}

@media screen and (min-width: 600px) and (max-width: 685px) {
	#container {	
		margin: auto;
		width: 560px;
		min-height: 100%;
	}

	#tag_preview{	
		width: 560px;
		height: 360px;
		min-width: 560px;
		min-height: 360px;
	}

	.tag_preview_image {
		min-width: 560px;
		max-width: 560px;
		min-height: 360px; 
		max-height: 360px;			
	}

	#site_title {
		width: 560px;		
		margin-bottom: 10px;
		position: relative;
		font-size: 40px;
		text-align: center;	
	}

	#tag_nav {
		font-size: 25px;				
		width: 570px;		
	}

	#alert {		
		width: 570px;
		max-width: 570px;
	}

	#date {
		width: 570px;
		max-width: 570px;;
	}

	.tag {
		margin-right: 10px;
	}

	#sidebar{
		display: none;
	}
}

@media screen and (min-width: 768px) and (max-width: 800px) {
	#container {	
		margin: auto;
		width: 720px;
		min-height: 100%;
	}

	#tag_preview{			
		min-width: 720px;
		min-height: 480px;
		max-width: 720px;
		max-height: 480px;		
	}

	.tag_preview_image {
		min-width: 720px;
		max-width: 720px;
		min-height: 480px; 
		max-height: 480px;				
	}

	#site_title {		
		margin-bottom: 10px;
		width: 720px;
		position: relative;
		font-size: 80px;
		text-align: center;		
	}

	#tag_nav {
		font-size: 20px;		
		width: 730px;
		max-width: 730px;
	}

	#alert {		
		width: 730px;
		max-width: 730px;
	}
	#date {
		width: 730px;
		max-width: 730px;
	}
	
	.tag {
		margin-right: 10px;
	}

	#sidebar{
		display: none;
	}
}

@media screen and (min-width: 800px) and (max-width: 1000px) {
	#container {	
		margin: auto;
		width: 720px;
		min-height: 100%;
	}

	#site_title {		
		margin-bottom: 10px;
		width: 720px;
		position: relative;
		font-size: 80px;
		text-align: center;		
	}

	#sidebar{
		display: none;
	}
}

/* Mobile */
@media screen and (min-width: 480px) and (max-device-width: 480px) {	
	#container {	
		margin: auto;
		width: 720px;
		min-height: 100%;
	}

	#tag_preview {	
		width: 720px;
		height: auto;				
	}

	.tag_preview_image {
		min-width: 720px;
		max-width: 720px;
		min-height: 480px; 
		max-height: 480px;				
	}

	#site_title {		
		width: 720px;
		margin-bottom: 10px;
		position: relative;
		font-size: 40px;
		text-align: center;	
	}

	#tag_nav {
		font-size: 25px;				
		width: 730px;		
	}

	#alert {		
		width: 730px;
		max-width: 730px;
	}
	#date {
		width: 730px;
		max-width: 730px;
	}

	.tag {
		margin-right: 10px;
	}
}