<!doctype html>

<HTML>
<title>
	JoshandLinz
</title>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
	<link rel="icon" type="image/png" href="/static/favicon.ico">
	<link rel="stylesheet" href="/static/css/base.css" type="text/css">
    <link rel="stylesheet" href="/static/css/normalize.css" type="text/css">
    <link rel="stylesheet" href="/static/css/responsive.css" type="text/css">
    
    <link rel="stylesheet" href="http://ajax.googleapis.com/ajax/libs/jqueryui/1.10.3/themes/ui-darkness/jquery-ui.min.css">
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>   
	<script src="//ajax.googleapis.com/ajax/libs/jqueryui/1.10.3/jquery-ui.min.js"></script>     
    <script type="text/javascript" src="/js/index.js"></script>
    <script type="text/javascript" src="/js/event.js"></script>

</head>

<body>
	
	<div id = "container">
		<div id = "modal"></div>
		<div id = "sidebar">
			<div id = "latest_images" data-imageArray = "${imageIDList}">
				<div id = "latest_title">Latest Uploads</div>
				<div id = "latest_image_container">
					%for image_id, name, image_location, thumb_location, date_added, date_taken, caption, width, height in latest_uploads:
						%try:
							<% strippedLoc = thumb_location.split('/') %>
							<% thumbLocation = "/thumbnails/" + strippedLoc[ len(strippedLoc) - 1 ] %>
							<a class="nav_image" id = "${image_id}">
							<img class = "latest_image thumbs" alt="Thumbnail of recent upload" src = "${thumbLocation}?name=${name}" style="border-width: 5px;"></a>
						%except:							
						%endtry
					%endfor			
				</div>
			</div>			
			<div id = "upcoming">
				<div id = "upcoming_title">Important Dates</div>
				<div id = "upcoming_dates">
					%for upcoming_id, upcoming_name, upcoming_status, upcoming_added, upcoming_inactive in upcoming:
						${upcoming_inactive} - <b>${upcoming_name}</b><br>
					%endfor
				</div>
			</div>			
		</div>

		<div id = "site_title">The Johnsons</div>
		<div id = "tag_nav">			
				%for tag in main_tags:
					%try:   #Will catch any tags without images in them
						<% failure_point = images[tag] %>
						<a class = "tag" name="${tag}" href="/p/${tag}">${tag}</a>
					%except:					
					%endtry					
				%endfor				
		</div>

		<div id = "tag_preview">
			%for tag in main_tags:
				%try:
					%for id, name, image_location, thumb_location, date_added, date_taken, caption, width, height in images[ tag ]:
						<% strippedLoc = image_location.split('/') %>
						<% imageLocation = "/images/" + strippedLoc[ len(strippedLoc) - 1 ] %>
						<img id = "${tag}" alt="A shuffling picture from the ${tag} picture section" class = "tag_preview_image" src = "${imageLocation}?name=${name}">
					%endfor
				%except:
				%endtry

			%endfor
		</div>	

		<div id = "alert">
			%for id, title, post, author, date_added in blog:
				<div id = "date" style="font-weight: bold">
					${title}<br><br>
				</div>
				<div id = "alert_text">					
					${post}<br>					
				</div>
			%endfor			
		</div>		

		<div id = "copyright">
			&copy; Joshua Johnson 2014
		</div>

		

	</div>		

</body>
</HTML>