<!doctype html>

<HTML>
<title>
	JoshandLinz
</title>


	<link rel="icon" type="image/png" href="/static/favicon.ico">
	<link rel="stylesheet" href="/static/css/base.css" type="text/css">
    <link rel="stylesheet" href="/static/css/normalize.css" type="text/css">  

    <!-- Add in Prod<script src="//ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>   
    				<script src="//ajax.googleapis.com/ajax/libs/jqueryui/1.10.3/jquery-ui.min.js"></script>
    !-->    

    <!--Instead of local !-->
    <script type="text/javascript" src="/js/lib/jquery-1.10.2.min.js"></script> 
    <script type="text/javascript" src="/js/lib/jquery-ui-1.10.4.min.js"></script>


    <script type="text/javascript" src="/js/index.js"></script>

</head>

<body>	
		

	<div id = "container">


		<div id = "tag_preview">
			%for tag in main_tags:
				%for id, name, image_location, thumb_location, date_added, date_taken, caption in images[ tag ]:
					<% strippedLoc = image_location.split('/') %>
					<% imageLocation = "/images/" + strippedLoc[ len(strippedLoc) - 1 ] %>
									
					<img id = "${tag}" class = "tag_preview_image" src = ${imageLocation} style="max-height: 100%; max-width: 100%; border: 5px solid black;">
				%endfor
			%endfor
		</div>

		<div id = "tag_nav">
			<table>
				%for tag in main_tags:				
					<tr class = "tag" name="${tag}"><td>${tag}<td></tr>											
				%endfor 
			</table>
		</div>



	</div>




</body>

</HTML>