<HTML>
<title>
	JoshandLinz
</title>

<head>
	<link rel="icon" type="image/png" href="/static/favicon.ico">
	<link rel="stylesheet" href="/static/css/admin.css" type="text/css">
    <link rel="stylesheet" href="/static/css/normalize.css" type="text/css">
    <script type="text/javascript" src="/js/lib/jquery-1.10.2.min.js"></script>    
    <script type="text/javascript" src="/js/process.js"></script>

    <span class ="header">Admin Menu</span>
</head>

<body>
	<div id = "navigation">		
		
		<a href="/upload" class="silent_link">Upload</a> | 
		<span style="color:purple">Process</span> | 		
		<a href="/manage" class="silent_link">Manage</a> | 			
		
	</div>

	<div id = "container">
		<div id = "process_files">
			
			%for i, filename in enumerate(queued_files):
			<div id = "queue_file_info">
				<span class = "queue_thumbnail"><tr><td><img src="${filename[2]}" height="200"></img></tr></td></span>
					<table border="1">							

							<form id = "queued_file_form" name = ${i} class = "submission_data">

								<tr><td><span style="color:black">Name:</span></td>  <td><input type = "text" id = "name" name = "picture_name" value="${filename[0]}" size="31"> </td>
									<td><span id = "event_tag_text">Event Tags										
											<select name="event_tag_selection" multiple>
												%for parent_tag, parent_sub_tag, event_tag in event_tags:
													<% eventPassValue = parent_tag + ";" + parent_sub_tag + ";" + event_tag %>

													<option value="${eventPassValue}"> ${parent_sub_tag}-> ${event_tag}</option>													
												%endfor												
											</select>
										</span>
									</td>
								</tr>

								<tr><td><span style="color:purple">Caption:</span></td>  <td><textarea rows = 4 cols="30" id = "caption" name = "picture_caption"></textarea> </td></tr>
								<tr><td><span style="color:black">Date Taken:</span></td> <td><input type = "text" id = "date_taken" name = "picture_date" size="8" value="${filename[3]}"> 
									<span style="color:black">(Date Format: MM/DD/YY)</span></td></tr>
								<tr><td><span style="color:purple">Main Tags: </span></td> 

										<td><select name="tag_selection" multiple>												
												%for tag in tags:
													<option value=${tag}>${tag}</option>
												%endfor
											  </select>

											<span id = "sub_tag_text">Sub-Tags: </span>

											<span style="position: relative; left: 5px">
												<select name="sub_tag_selection" multiple>
													%for parent_tag, sub_tag in sub_tags:
														<% subPassValue = parent_tag + ";" + sub_tag %>
														<option value="${subPassValue}"> ${parent_tag}->${sub_tag}
													%endfor
												</select>
											</span>
										</td>

								</tr>								
								<tr align = "center"><td></td><td>													
													
													<input type ="button" id = "process_picture_button" value="Process"></input>
													&nbsp;&nbsp;
													<input type ="button" id="delete_picture_button" value ="Delete"></input> </td></tr>

								<input type = "hidden" name="FileLocation" value = "${filename[1]}"></input>
							</form>
																		
					</table>
			</div>
			%endfor				
		</div>

	</div>
	
	
	
</body>






</HTML>