<link rel="stylesheet" href="/static/css/previews.css" type="text/css">
<a id = "left" class = "arrow" href="#"> &lt; </a>
<a id = "right" class = "arrow" href="#"> &gt; </a>

<div id = "image_container">
	%for id, name, image_location, thumb_location, date_added,date_taken, caption, width, height in image:
		%try:
			<% strippedLoc = image_location.split('/') %>
			<% imageLocation = "/images/" + strippedLoc[ len(strippedLoc) - 1 ] %>						

			<img id = "${id}" name = "${name}" class = "modal_image" dataWidth="${width}" dataHeight = "${height}" style= "max-height: 100%; max-width: 100%; border: 5px solid black;" src = ${imageLocation}>

			%if len(caption) > 1:
				<div id = "image_caption">${caption}</div>
			%endif			
		%except:
		%endtry			
	%endfor
	<br><div id="instructions" style='font-size: 12px;'>Use the Arrow keys to navigate, ESC to close</div>

		<script>
			//*REFACTOR
			//Unable to set JqueryUI width from CSS - used JS - (Will refactor)
			function resizeOnSmallerScreens() {
				screenWidth = $(window).width();							
				screenHeight = $(window).height();				
				
				//Shrink the modal window
				$("#modal").dialog("option", "minWidth", (screenWidth - 20) );				
				$("#modal").dialog("option", "width", (screenWidth - 20) );				
				$("#modal").dialog("option", "minHeight", "auto" );

				//Shrink the image to be a bit smaller than the modal
				$("#image_container").css('width', (screenWidth - 60), 'height', 'auto')
				$("#image_container").css('margin-right', "30px")
				
				//*REFACTOR
				//Reset the arrow distance - should refactor this to use CSS width left/right align

				
				var arrowOffsetWidth = (screenWidth * 0.63)
				
				

				$('#right').css('margin-left', arrowOffsetWidth + "px");
				$('.arrow').css('margin-top', screenHeight*0.20 + "px");	
				$('#instructions').css('width', $('#image_container').width() )
			}

			//Get the width/height of the current image thumbnail			
			var imageWidth = $('.modal_image').attr('dataWidth') * 0.75
			var imageHeight = $('.modal_image').attr('dataHeight') * 0.75
			//Get the image array that contains the image_id of each preview image on the page.
			var imageArray = $('#image_previews').attr('data-imageArray');		

			//Create JqueryUI dialog modal/pop out
			$( "#modal").dialog({
				modal: true,
				draggable: false,
				resizable: false,
				hide: {effect: "clip", duration: 250},
				minWidth: imageWidth,							
				minHeight: imageHeight,		
				title: $('.modal_image').prop('name'),
				close: function (event, ui) {
					$("#modal").html("");				
					$("#modal").dialog("destroy");
				},
			});
			
			$(".arrow").click(function ( event ) {
				event.preventDefault();
				var arrowDirection = $(this).attr('id')

				function getNewImageID() {
					//Do away with the brackets from the imageArray[]			
					var bracketsRemoved = imageArray.slice( 1,(imageArray.length - 1) );
					var arrayOfImageIDs = bracketsRemoved.split(',')					
					var imageID = parseInt( $('.modal_image').attr('id') )				

					//Jump to the next picture in the array
					for (i=0; i < arrayOfImageIDs.length; i++) {				

						if (imageID == parseInt(arrayOfImageIDs[i]) ) {																	
							if (arrowDirection == "right") {								
								//If you get to the final image return the first picture
								if (i < arrayOfImageIDs.length - 1) {
									return ( arrayOfImageIDs[i + 1] )
								}
								else {
									return ( arrayOfImageIDs[0] )
								}								
							}
							else {								
								if (i == 0) {
									return (  arrayOfImageIDs[arrayOfImageIDs.length - 1] )
								}
								else {
									return ( arrayOfImageIDs[i - 1] )
								}
								
							}

							break;
						}
						
					}
				}

				function setModal(data) {
					var returnedData = $.ajax({
						type: "GET",
						url: '/getModalPicture',
						data: { image_id: data }			
					});

					returnedData.done(function ( response, textStatus, jqXHR) {					
						$("#modal").html( response );
					});		
				}

				var switch_to_image_id = getNewImageID().replace(" ", "");				
				/*Need to destroy the jQueryUI dialog instance else there
				Are issues on re-instantiation. Slow... need to find another way*/
				$("#modal").html("");				
				$("#modal").dialog("destroy");
				/* Switch to new image by re-initializing this template with the
				New ID */				
				setModal(switch_to_image_id);

			});
			
			/*The default behaviour for the jqueryui dialog window is to have the 
				close button highlighted.  Remove that highlight */
			$('button').removeClass('ui-state-hover ui-state-focus');
			/*Compensating for chrome/webkit not being able to read image attributes properly ...
			I attached an image size attribute to the image and I read it and use it to measure
			Arrow distance */
			$('#right').css('margin-left', (imageWidth - 110) + "px");
			$('.arrow').css('margin-top', (imageHeight*.35) + "px");
						
			//Make the instructions div as wide as the image above it.
			$('#instructions').css('width', $('#image_container').width() )		

			//Handler for closing the modal if a click event happens outside of the window
			$('body').click(function(event) {				
				if ( $(event.target).is(".ui-front") ) {
					$("#modal").html("");
					$('#modal').dialog("destroy")
				}				
			});

			if ($(window).width() < 980) {
				//Shrink the modal for smaller screens/tablets
				resizeOnSmallerScreens();
			}			

			

		</script>

		<style>			

			@media {
				button{ 					
					min-width: 40px;
					min-height: 25px;					
				}

			}


			
		</style>		
</div>