<!doctype html>
<HTML>
<title>
	JoshandLinz
</title>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
	<link rel="icon" type="image/png" href="/static/favicon.ico">	
	<link rel="stylesheet" href="/static/css/base.css" type="text/css">
    <link rel="stylesheet" href="/static/css/normalize.css" type="text/css">
    <link rel="stylesheet" href="/static/css/responsive.css" type="text/css">    
    <!-- Add in Prod
    	<link rel="stylesheet" href="http://ajax.googleapis.com/ajax/libs/jqueryui/1.10.3/themes/ui-darkness/jquery-ui.min.css">
    	<script src="//ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>   
		<script src="//ajax.googleapis.com/ajax/libs/jqueryui/1.10.3/jquery-ui.min.js"></script>
    !-->
    <!--Instead of local !-->
    <link rel="stylesheet" href="/static/css/ui-darkness/jquery-ui-1.10.4.custom.css">
    <script type="text/javascript" src="/js/lib/jquery-1.10.2.min.js"></script> 
    <script type="text/javascript" src="/js/lib/jquery-ui-1.10.4.min.js"></script>
    <script type="text/javascript" src="/js/index.js"></script>
    <script type="text/javascript" src="/js/event.js"></script>    

%if display_type == "Main": 
	</head>

	<body>
	<div id = "container">
		<div id = "site_title">${main_tag}</div>
		<div id = "tag_nav">
			<table>
				<tr>
				<td><a href="/"> <span style="margin-right: 30px"> &lt; </span></a></td>
				%for parent_tag, sub_tag in sub_tags:					
					%try:				
						<% failure_point = images[sub_tag] %>
						<td><a class = "tag" name="${sub_tag}" href="/p/${main_tag}/${sub_tag}">${sub_tag}</a></td>
					%except:
					%endtry
				%endfor								
				</tr>
			</table>
		</div>

		<div id = "tag_preview">
			%for parent_tag, sub_tag in sub_tags:				
				%try:
					%for id, name, image_location, thumb_location, date_added, date_taken, caption, width, height in images[ sub_tag ]:
						<% strippedLoc = image_location.split('/') %>
						<% imageLocation = "/images/" + strippedLoc[ len(strippedLoc) - 1 ] %>
						<img id = "${sub_tag}" alt="A shuffling picture from the ${sub_tag} picture section" class = "tag_preview_image" src = ${imageLocation} >
					%endfor

				%except:
				%endtry
			%endfor
		</div>
		

%elif display_type == "Sub":
	</head>
	<body>

	<div id = "container">
		<div id = "site_title">${parent_sub_tag}</div>

		<div id = "tag_nav">
			<table>
				<tr>
				<td><a href="/p/${parent_main_tag}"><span style="margin-right: 30px"> &lt; </span></a></td>
				%for misc_parent_tag, misc_sub_tag, misc_event_tag in event_tags:					
					%try:				
						<% failure_point = images[misc_event_tag] %>
						<td><a class = "tag" name="${misc_event_tag}" href="/p/${parent_main_tag}/${parent_sub_tag}/${misc_event_tag}">${misc_event_tag}</a></td>
					%except:						
					%endtry
				%endfor

				%try:
					<% failure_point = misc_images["Misc"] %>
					<td><a class = "tag" name="Misc" href="/p/${parent_main_tag}/${parent_sub_tag}/Misc">Misc</a></td>
				%except:
				%endtry				
				</tr>
			</table>
		</div>

		<div id = "tag_preview">
			%for misc_parent_tag, misc_sub_tag, misc_event_tag in event_tags:
				
				%try:
					%for id, name, image_location, thumb_location, date_added, date_taken, caption, width, height in images[ misc_event_tag ]:
						<% strippedLoc = image_location.split('/') %>
						<% imageLocation = "/images/" + strippedLoc[ len(strippedLoc) - 1 ] %>
						<img id = "${misc_event_tag}" alt="A shuffling picture from the ${misc_event_tag} picture section" class = "tag_preview_image" src = ${imageLocation}>
					%endfor						
				%except:					
				%endtry

			%endfor

			%try:
				%for id, name, image_location, thumb_location, date_added, date_taken, caption, width, height in misc_images[ "Misc" ]:
					<% strippedLoc = image_location.split('/') %>
					<% imageLocation = "/images/" + strippedLoc[ len(strippedLoc) - 1 ] %>
					<img id = "Misc" alt="A shuffling picture named ${name} picture section" class = "tag_preview_image" src = ${imageLocation}>
				%endfor
			%except:
			%endtry
		</div>		

%elif display_type == "Event":
	<link rel="stylesheet" href="/static/css/previews.css" type="text/css">
	</head>

	<body>

	<div id = "modal"></div>
	<div id = "container">
		<!-- Make the I I I have smaller spacing for Joe !-->
		%if event_tag == "I I I":
			<div id = "site_title" style="letter-spacing: -6px">${event_tag}</div>
		%else:
			<div id = "site_title">${event_tag}</div>
		%endif

		<div id = "image_nav">
			<table>
				<tr>
					<td><a class = "tag" href="/p/${event_main_tag}/${event_sub_tag}">&lt;</a></td>
					%if offset == 0:
						<!-- <td><a class = "tag"><span style="visibility: hidden"> Prev Images </span></a></td> !-->
					%else:
						<td><a class = "tag" href="/p/${event_main_tag}/${event_sub_tag}/${event_tag}/${(offset-12)}"> Prev Images </a></td>
					%endif
					
					%if len(images) == 12: #Make sure there are actually more pictures to see
						<td><a class = "tag" href="/p/${event_main_tag}/${event_sub_tag}/${event_tag}/${(offset+12)}">Next Images</a></td>
					%else:
						<!-- <td><a class = "tag"><span style="visibility: hidden">Next Images<span></a></td> !-->
					%endif
				</tr>
			</table>
		</div>

		<div id = "image_previews" data-imageArray="${imageIDList}">		
			<!-- Display a jQuery UI Tooltip only if the text is cutoff !-->
			%for image_id, name, thumb_location in images:
				%try:
					<% strippedLoc = thumb_location.split('/') %>
					<% thumbLocation = "/thumbnails/" + strippedLoc[ len(strippedLoc) - 1 ] %>
					%if len(name) > 20:
					<table class = "nav_image" title = "${name}">
					%else:
					<table class = "nav_image">
					%endif
						<tr><td>
							<a class = "thumbs">
							<img id = "${image_id}" alt="A small picture titled ${name}" class="thumbnail_picture" src = ${thumbLocation} ></a>	
						</td></tr>

						<tr><td class = "thumbnail_name">${name[0:20]}
						%if len(name) > 20:
							...
						%endif
						</td></tr>
					</table>					
				%except:
				%endtry
			%endfor
		</div>					
	

%endif
		<div id = "alert">
			%for id, title, post, author, date_added in blog:
				<div id = "date" style="font-weight: bold">
					${title}<br><br>
				</div>
				<div id = "alert_text">					
					${post}<br>					
				</div>
			%endfor
		</div>

		<div id = "copyright">
			&copy; Joshua Johnson 2014
		</div>

	</div>

</body>
</HTML>