<!doctype html>
<HTML>
<title>
	JoshandLinz
</title>

	<link rel="icon" type="image/png" href="/static/favicon.ico">
	<link rel="stylesheet" href="/static/css/eggplant/jquery-ui-1.10.4.custom.css">
	<link rel="stylesheet" href="/static/css/base.css" type="text/css">
    <link rel="stylesheet" href="/static/css/normalize.css" type="text/css">  

    <!-- Add in Prod
    	<script src="//ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>   
		<script src="//ajax.googleapis.com/ajax/libs/jqueryui/1.10.3/jquery-ui.min.js"></script>
    !-->
    <!--Instead of local !-->
    <script type="text/javascript" src="/js/lib/jquery-1.10.2.min.js"></script> 
    <script type="text/javascript" src="/js/lib/jquery-ui-1.10.4.min.js"></script>
    <script type="text/javascript" src="/js/index.js"></script>
    <script type="text/javascript" src="/js/event.js"></script>
</head>

<body>		

%if display_type == "Main": 
	<div id = "container">
		<div id = "site_title">${main_tag}</div>

		<div id = "tag_preview">
			%for parent_tag, sub_tag in sub_tags:
				
				%try:
					%for id, name, image_location, thumb_location, date_added, date_taken, caption, width, height in images[ sub_tag ]:
						<% strippedLoc = image_location.split('/') %>
						<% imageLocation = "/images/" + strippedLoc[ len(strippedLoc) - 1 ] %>
						<img id = "${sub_tag}" class = "tag_preview_image" src = ${imageLocation} style="max-height: 100%; max-width: 100%; border: 5px solid black;">
					%endfor					
				%except:
				%endtry

			%endfor
		</div>

		<div id = "tag_nav">
			<table>
				%for parent_tag, sub_tag in sub_tags:
					
					%try:				
						<% failure_point = images[sub_tag] %>
						<tr><td><a class = "tag" name="${sub_tag}" href="/p/${main_tag}/${sub_tag}">${sub_tag}</a></td></tr>
					%except:
					%endtry

				%endfor
				<tr><td><a href="/">Back</a></td></tr>
			</table>
		</div>

%elif display_type == "Sub":
	<div id = "container">
		<div id = "site_title">${parent_sub_tag}</div>

		<div id = "tag_preview">
			%for misc_parent_tag, misc_sub_tag, misc_event_tag in event_tags:
				
				%try:
					%for id, name, image_location, thumb_location, date_added, date_taken, caption, width, height in images[ misc_event_tag ]:
						<% strippedLoc = image_location.split('/') %>
						<% imageLocation = "/images/" + strippedLoc[ len(strippedLoc) - 1 ] %>
						<img id = "${misc_event_tag}" class = "tag_preview_image" src = ${imageLocation} style="max-height: 100%; max-width: 100%; border: 5px solid black;">
					%endfor					
				%except:
					
				%endtry

			%endfor
		</div>

		<div id = "tag_nav">
			<table>
				%for misc_parent_tag, misc_sub_tag, misc_event_tag in event_tags:
					
					%try:				
						<% failure_point = images[misc_event_tag] %>
						<tr><td><a class = "tag" name="${misc_event_tag}" href="/p/${parent_main_tag}/${parent_sub_tag}">${misc_event_tag}</a></td></tr>
					%except:						
					%endtry

				%endfor
				<tr><td><a href="/p/${parent_main_tag}">Back</a></td></tr>
			</table>
		</div>


%elif display_type == "Event":
	<div id = "container">
		<div id = "site_title">${parent_sub_tag}</div>		
	
	<div id = "nav_folders">						
			<!-- Display a jQuery UI Tooltip only if the text is cutoff !-->

			%for image_id, name, thumb_location in images:
				%try:
					<% strippedLoc = thumb_location.split('/') %>
					<% thumbLocation = "/thumbnails/" + strippedLoc[ len(strippedLoc) - 1 ] %>	

					%if len(name) > 20:
					<table class = "nav_image" title = "${name}">
					%else:
					<table class = "nav_image">
					%endif

						<tr><td>
							<img id = "${image_id}" src = ${thumbLocation} style="width: 150px; height: 125px; border: 5px solid black;">
						</tr></td>

						<th align="center">${name[0:20]}
						%if len(name) > 20:
							...
						%endif
						</th>						

					</table>					
				%except:
				%endtry
				
			%endfor


			<a> Load More </a>

			
		
	</div>
	
%endif



	</div>

</body>

</HTML>