%if menu_location == "list":

	<table class="ui-widget ui-widget-content">
		%for id, name, image_location, thumb_location, date_added, date_taken, caption in image_data:			
						
			<% thumbpath = thumb_location.split('/') %>
			<tr><td imageID = "${id}" class = "image_menu_link image_menu_name">${name}</td></tr>
			<tr><td imageID = "${id}" class = "image_menu_link"><img src="${'/' + thumbpath[6] + '/' + thumbpath[7]}"></img></td></tr>	
		
		%endfor	
	</table>

	<script>

		function shortenImageNames(jQueryObject) {			

			for (i=0; i < jQueryObject.length; i++) {
				var image_text = $(jQueryObject[i]).html();
				var new_image_text = image_text.slice(0, 9);
				
				$(jQueryObject[i]).html(new_image_text + " ... ");
			}
		}

		$('.image_menu_link').click(function() {
			var image_id = $(this).attr('imageID');
			var returnedData = $.ajax({
								type: "POST",
								url: "/getOnePicture/",
								data: image_id
							});						

			returnedData.done(function ( response, textStatus, jqXHR) {
				$("#selected_picture").html(response);
			});

		});

		//Shorten the image names so they are only 10 characters and ...'s
		shortenImageNames( $('.image_menu_name') );		

	</script>

%endif



%if menu_location == "selected":	
	
	%for id, name, image_location, thumb_location, date_added, date_taken, caption in image_data:			
		<table class="ui-widget ui-widget-content">			
			<% thumbpath = thumb_location.split('/') %>
			<th></th><th>Added to site ${date_added} &nbsp;&nbsp;&nbsp;&nbsp;</th>
			<tr><td>&nbsp;</td></tr>
			<tr><td>Name: </td><td><input id = "name" name = "picture_name" value="${name}"></td></tr>
			<tr><td>Caption:</td>  <td><textarea name = "caption" rows = 2 cols="30">${caption}</textarea> </td></tr>
			<tr><td>Date Taken:</td> <td><input type = "text" id = "date_taken" name = "picture_date" size="8" value="${date_taken}"></input>  
				(Date Format: MM/DD/YY)</td>			
			<tr><td></td><td>				
				<input type ="button" value="Update"></input>				
				<input type = "button" value="Delete"></input>
			</td></tr>			
		</table>
	%endfor	

	<script>
		$(':button').button();
		$(':button').css({
							"margin-top": "30px",
							"margin-left": "20px",							
							"font-size": "15px"
						});
	</script>

%endif