%if menu_location == "list":

	<table class="ui-widget ui-widget-content">
		%for id, name, image_location, thumb_location, date_added, date_taken, caption in image_data:			
						
			<% thumbpath = thumb_location.split('/') %>
			<tr><td imageID = "${id}" class = "image_menu_link image_menu_name">${name}</td></tr>
			<tr><td imageID = "${id}" class = "image_menu_link"><img src="${'/' + thumbpath[6] + '/' + thumbpath[7]}"></img></td></tr>	
		
		%endfor	
	</table>

	<script>

		function shortenImageNames(jQueryObject) {			
			//Take the first 10 characters from the name and strip the rest.
			for (i=0; i < jQueryObject.length; i++) {
				var image_text = $(jQueryObject[i]).html();
				var new_image_text = image_text.slice(0, 9);
				
				$(jQueryObject[i]).html(new_image_text + " ... ");
			}
		}

		//When an image is selected get the data from the image.
		$('.image_menu_link').click(function() {
			var image_id = $(this).attr('imageID');
			var returnedData = $.ajax({
								type: "POST",
								url: "/getOnePicture/",
								data: image_id
							});						

			returnedData.done(function ( response, textStatus, jqXHR) {
				$("#selected_picture").html(response);
			});

		});

		//Shorten the image names so they are only 10 characters and ...'s
		shortenImageNames( $('.image_menu_name') );		

	</script>

%endif



%if menu_location == "selected":	
	<form id = 'update_data' name = 'updated_image_data'>
		%for id, name, image_location, thumb_location, date_added, date_taken, caption in image_data:			
				<table class="ui-widget ui-widget-content">			
					<% thumbpath = thumb_location.split('/') %>
					<th></th><th>Added to site ${date_added} &nbsp;&nbsp;&nbsp;&nbsp;</th>
					<tr><td>&nbsp;</td></tr>
					<tr><td>Name: </td><td><input id = "picture_name" name = "name" value="${name}"></td></tr>
					<tr><td>Caption:</td>  <td><textarea name = "caption" rows = 2 cols="30">${caption}</textarea> </td></tr>
					<tr><td>Date Taken:</td> <td><input type = "text" id = "date_taken" name = "date_taken" size="8" value="${date_taken}"></input>  
						(Date Format: MM/DD/YY)</td>			
					<tr><td></td><td>				
						<input id = "update_image_button" type ="button" value="Update"></input>				
						<input id = "delete_image_button" type = "button" value="Delete"></input>
						<input id = "id" name = "image_id" type="hidden" value=${id}></input>
					</td></tr>		
				</table>
		%endfor
	</form>

	<script>
		function sendPostData(location, data) {				
			$.ajax({
					type: "POST",
					url: location,
					data: data
				});
		}

		$(':button').button();
		$(':button').css({
							"margin-top": "30px",
							"margin-left": "20px",							
							"font-size": "15px"
						});

		$("#delete_image_button").click(function() {
			var response = confirm("Are you sure you want to completely delete this image?");

			if (response == true)
			{
				var to_delete_data = {
					'delete_requested': 1,
					'image_id': $(this).parents().children().filter('#id').val()
				}				
				sendPostData("/updateImageData", to_delete_data );
				location.reload();
			}
			
		});

		$("#update_image_button").click(function() {
			var response = confirm("Update all image metadata?");

			if (response == true) {
				sendPostData("/updateImageData", $(this.form).serializeArray() );
				location.reload();
			}
		});

	</script>

%endif